<h1><%= @pirate.name %><%= @pirate.weight %><%= @pirate.height %></h1>

<h1><%= @ship1.name %><%= @ship1.type %><%= @ship1.booty %></h1>
<h1><%= @ship2.name %><%= @ship2.type %><%= @ship2.booty %></h1>
